.footer--container {
  margin-top: 5em;
  background-color: rgb(0, 0, 0);
  color: white;
}

.footer--container .sec-A .logo {
  display: flex;
  justify-content: center;
}

.footer--container .sec-A .logo img {
  width: 50%;
  max-width: 250px;
}

.footer--container .contact div {
  display: flex;
  align-items: center;
  padding-inline: 1em;
}
.footer--container .contact div h3 {
  margin-left: 10px;
  font-size: 18px;
}

.footer--container .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.footer--container .social-icons img {
  width: 40px;
  margin-inline: 0.5em;
}

.footer--container .sec-B {
  margin-top: 5em;
  text-align: center;
}

.footer--container .sec-B p {
  color: white;
}
.footer--container .sec-dummy {
  height: 40px;
  width: 100%;
  background-color: transparent;
}

#fuyo {
  object-fit: contain;
  width: 70px;
}

#studio_link {
  background-image: linear-gradient(45deg, #f3ec78, var(--colorStudio));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight:bold;
}

@media (min-width: 768px) {
  .footer--container .sec-A {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer--container .social-icons {
    margin-top: 0;
  }
  .footer--container .sec-B {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}
