.home--container {
  width: 100%;
  height:100%;
  background-color: black;
  margin-bottom:-6em;
  position:relative;
}

.home--container img {
  height: 70%;
  object-fit: cover;
  position: absolute;
  top: 25%;
}

.home--container h2 {
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 0.8em;
  width: 90%;
  margin-left: 10px;
  opacity:0.8;
  font-size:42px;
  font-weight:700;
  font-family:'qingliu', 'HanWanMingBlack', sans-serif;
}

.home--container button {
  font-family: var(--font-h1);
  color: white;
  background-color: var(--color6);
  font-size: 20px;
  border-style: none;
}

.desktopBtn {
    display:none;
}

@media (min-width: 768px) {
  .desktopBtn {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 150px;
    width: 30px;
    top: 30%;
    border-radius: 2px 0 0 2px;
    padding:1em;
  }
  .home--container img {
    height:100%;
    top:0%;
  }
  .home--container h2 {
    top:5%;
    font-size:48px;
    width:80%;
  }
  .home--container h2:nth-child(3) {
    top:50%;
    margin-left:20%;
    width:50%;
    font-size:40px;
}
}

@media (min-width:1400px) {
    .home--container h2 {
        top:0%;
        font-size: 96px;
        width:70%;
    }
    .home--container h2:nth-child(3) {
        font-size:64px;
    }
    .home--container img {
      object-fit: contain;
    }
}
