.navbar--container {
    background-color: var(--color1);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:1em;
    height:5%;
}

.navbar--container .logo {
    display:flex;
    align-items: center;
    cursor:pointer;
    /* height:95%; */
    overflow:hidden;
}
#mainLogo {
    height:60px;
    width:60px; /*added to see if mobile-view bug is fixed */
    object-fit: cover;
}

#bar {
    height:20px;
}

.menu--container {
    width:80%;
    position:absolute;
    right:0;
    background-color: var(--color4);
    transition: opacity 0.5s ease-in-out;
    opacity:1;
    z-index:10;
}
.menu--container ul {
    list-style: none;
    padding:0;
    margin:0;
    overflow-x:hidden;
}
.menu--container ul li {
    width:100%;
    height:50px;
    border:1px solid white;
    font-family: var(--font-h1);
    font-size: var(--fs-h3);
    display:flex;
    align-items: center;
    padding-left:10px;
}

#sortDown {
    margin-left:10px;
    margin-bottom:10px;
}

.navList {
    display:none;
}

.dropDown {
    position:relative;
}
.itemList {
    position:fixed;
    background-color: var(--color4);
    width:9em;
    right:0;
    top:4.92%;
    border-top:1px solid white;
    border-radius: 0 0 5px 5px;
}

@media (min-width:768px) {
    .navbar--container {
        height:7%;
        padding-inline:3em;
    }
    .menu--container, .toggle {
        display:none;
    }
    .navList {
        display:flex;
        width:95%;
        justify-content: end;
    }
    .navList ul {
        display: flex;
        font-family: var(--font-h1);
        font-size: var(--tabletfs-navlist);
        list-style: none;
        width:100%;
        justify-content: space-around;
        align-items: center;
        z-index:10;
    }
    .navList ul a {
        color:white;
        font-size:14px;
    }
    #sortDown {
        margin:0;
        margin-left:5px;
    }
    .dropDown {
        position:relative;
    }
    .itemList {
        position:absolute;
        background-color: black;
        width:9em;
        left:0;
        top:185%;
        padding:1em;
        border-top:1px solid white;
        border-radius: 0 0 5px 5px;
    }
    .itemList ul {
        display:flex;
        flex-direction: column;
        padding:0;
        margin:0;
        text-decoration: underline;
        font-family: var(--font-h2);
    }
    .itemList ul li {
        margin-block:0.3em;
    }
    #bar {
        height:30px;
    }
}

@media (min-width:1024px) {
    .navList ul a {
        font-size:16px;
    }
}

@media (min-width:1440px) {
    .navList ul a {
        font-size: var(--deskfs-navlist);
    }
    .itemList {
        top:190%;
    }
}